@import "../theme"
@import "../ui/button.module"

@mixin mobileOrder
  width: 100%
  height: 100%

  margin: 0
  border-radius: 0

@mixin mobileMap
  height: 100%

.order
  position: fixed
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)

  width: 512px
  min-height: 50vh

  background: #fff

  border-radius: 10%

  .products
    display: flex
    flex-direction: row
    max-height: 200px

    overflow: auto

    margin-top: 8px
    margin-bottom: 8px

  .priceLabel
    margin-left: 12px
    @include text

    .price
      padding-left: 4px
      font-weight: bold

  .button
    @include button

    padding: 6px 16px

    font-weight: 500
    font-size: 0.875rem
    text-transform: initial

    width: 100%

  .button:hover
    background: rgba(0, 0, 0, 0.04)

  .divider
    border-width: 0
    border-bottom: rgba(0, 0, 0, 0.12) solid 3px
    margin-top: 4px


.placeIcon
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  padding-bottom: 48px

  font-size: 48px


.addressInput
  height: 300px

.container
  height: 100%
  position: relative

.fab
  position: absolute
  right: 16px
  bottom: 16px


@media #{$mobile}
  .order
    @include mobileOrder

  .addressInput
    @include mobileMap


@media (max-height: 728px)
  .order
    @include mobileOrder

  .addressInput
    @include mobileMap
    
