.products {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 1024px) {
  .app-bar {
    width: calc(100% - 330px);
    margin-left: calc(325px);
    padding-left: 16px;
  }
}
@media (max-width: 728px) {
  .products {
    display: flex;
    justify-content: center;
  }
}
